<script id="template" type="text/x-kendo-template">
    <!--a href = "views/detail.html?id=#:id#"> <img src='#:image#' width=32> #:name# #:surname#, age: #:age#</a-->
    
</script>

<div data-role="view" data-title="Users" data-layout="myLayout" data-model="myApp.models.users" id="usersView">
    <ul data-role="listview" id="filter">
        <li>
            Filter:
            <input data-value-update="keyup" data-bind="value: filterModel.filterValue" type="search" />
        </li>
    </ul>
    <ul id="users"></div>
    foo
</div>